# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/src/main/java/U8Ejercicios/src/Entregable_1920_Uso_de_StaX/.project
/src/main/java/U8Ejercicios/src/Entregable_1920_Uso_de_StaX/.classpath
/src/main/java/U8/U8.iml
/src/main/java/U8Ejercicios/U8Ejercicios.iml
/.idea/uiDesigner.xml
