# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/src/main/java/U8Ejercicios/src/Entregable_1920_Uso_de_StaX/.project
/src/main/java/U8Ejercicios/src/Entregable_1920_Uso_de_StaX/.classpath
/src/main/java/U8/U8.iml
/src/main/java/U8Ejercicios/U8Ejercicios.iml
/.idea/uiDesigner.xml
/src/main/java/U8/src/examen/Pastor_Lopez_U8_Entregable.rar
/.idea/dbnavigator.xml
/src/main/java/U9/Pastor_Lopez_U9_Entregable.rar
